<% include ./partials/header %>
<link rel="stylesheet" href="/stylesheets/about.css">
<link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">

<body>
<div class="containMain">    
<nav id="nav" class="navbar navbar-inverse">
  <div class="container-fluid">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><i class="fa fa-book" aria-hidden="true"></i></a>
    </div> 
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <li><a href="/"> HOME</a></li>
       <li class="active"><a href="/about"> ABOUT</a></li>
       <li><a href="/faq"> FAQ</a></li>
       <li><a href="/contact"> CONTACT</a></li>
       <li><a href="/dataVisualisation"> DATA VISUALISATION</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <div>
        <h1 class="title">ABOUT US <i class="fa fa-university" aria-hidden="true"></i></h1>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="mapInfo">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i><span>Phone:</span> 0451500724</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i><span>Email:</span> little.croco724@gmail.com</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i><span>Address:</span> 200 Spencer St, Melbourne VIC 3004</li>
                </ul>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-7">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p class="mainText">Consectetur adipiscing elit. Sed laoreet elit sit amet pretium posuere. Donec faucibus erat ante, quis congue mauris ullamcorper non. Vestibulum eu metus orci. Nam et mi eget ligula fermentum dictum a sit amet massa. Quisque auctor dictum sem, ac facilisis lectus ultricies eget. Sed faucibus mauris sit amet odio mattis, id dignissim sapien faucibus. Maecenas auctor dui eros, eget facilisis tortor fringilla a. Suspendisse vel dolor eleifend, faucibus felis non, porttitor metus. Nulla luctus lectus metus, ut fringilla enim aliquet sed. Nulla scelerisque nulla erat, a varius ex semper ut. Phasellus nec tellus nunc. Etiam facilisis metus id diam pellentesque tempus. Nam tristique tempus ex, quis tristique libero commodo at.</p>
        </div>
    </div>
    <hr>
    
    <div class="row">
        <div class="col-md-7">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p class="mainText">Consectetur adipiscing elit. Sed laoreet elit sit amet pretium posuere. Donec faucibus erat ante, quis congue mauris ullamcorper non. Vestibulum eu metus orci. Nam et mi eget ligula fermentum dictum a sit amet massa. Quisque auctor dictum sem, ac facilisis lectus ultricies eget. Sed faucibus mauris sit amet odio mattis, id dignissim sapien faucibus. Maecenas auctor dui eros, eget facilisis tortor fringilla a. Suspendisse vel dolor eleifend, faucibus felis non, porttitor metus. Nulla luctus lectus metus, ut fringilla enim aliquet sed. Nulla scelerisque nulla erat, a varius ex semper ut. Phasellus nec tellus nunc. Etiam facilisis metus id diam pellentesque tempus. Nam tristique tempus ex, quis tristique libero commodo at.</p>
        </div>
        <div class="col-md-5">
            <div>
                <img src="/img/aboutus01.svg.png"></img>
            </div>
        </div>
    </div>
    <hr>
    
    <div class="row">
        <div class="col-md-5">
            <img src="/img/aboutus02.svg.png"></img>
        </div>
        <div class="col-md-7">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p class="mainText">Consectetur adipiscing elit. Sed laoreet elit sit amet pretium posuere. Donec faucibus erat ante, quis congue mauris ullamcorper non. Vestibulum eu metus orci. Nam et mi eget ligula fermentum dictum a sit amet massa. Quisque auctor dictum sem, ac facilisis lectus ultricies eget. Sed faucibus mauris sit amet odio mattis, id dignissim sapien faucibus. Maecenas auctor dui eros, eget facilisis tortor fringilla a. Suspendisse vel dolor eleifend, faucibus felis non, porttitor metus. Nulla luctus lectus metus, ut fringilla enim aliquet sed. Nulla scelerisque nulla erat, a varius ex semper ut. Phasellus nec tellus nunc. Etiam facilisis metus id diam pellentesque tempus. Nam tristique tempus ex, quis tristique libero commodo at.</p>
        </div>
    </div>
    <hr>    
    
    <div class="row">
        <div class="col-md-7">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p class="mainText">Consectetur adipiscing elit. Sed laoreet elit sit amet pretium posuere. Donec faucibus erat ante, quis congue mauris ullamcorper non. Vestibulum eu metus orci. Nam et mi eget ligula fermentum dictum a sit amet massa. Quisque auctor dictum sem, ac facilisis lectus ultricies eget. Sed faucibus mauris sit amet odio mattis, id dignissim sapien faucibus. Maecenas auctor dui eros, eget facilisis tortor fringilla a. Suspendisse vel dolor eleifend, faucibus felis non, porttitor metus. Nulla luctus lectus metus, ut fringilla enim aliquet sed. Nulla scelerisque nulla erat, a varius ex semper ut. Phasellus nec tellus nunc. Etiam facilisis metus id diam pellentesque tempus. Nam tristique tempus ex, quis tristique libero commodo at.</p>
        </div>
        <div class="col-md-5">
            <div>
                <img src="/img/aboutus03.svg"></img>
            </div>
        </div>
    </div>
    <hr>  
    
  <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p class>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. !</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. .</p>
                                        <small>Someone famous</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#quote-carousel" data-slide-to="0" class="active"><img class="img-responsive " src="https://s3.amazonaws.com/uifaces/faces/twitter/mantia/128.jpg" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" alt="">
                        </li>
                        <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="https://s3.amazonaws.com/uifaces/faces/twitter/brad_frost/128.jpg" alt="">
                        </li>
                    </ol>

                    <!-- Carousel Buttons Next/Prev -->
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    
<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxpNP9adlhJDOrc7aLZCZHRP2sXqUQkCc&callback=initMap"></script>    
<script src="/model/about.js"></script>
</div>
<div class="push"></div>
</div>
<script src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<% include ./partials/footer %>