<!DOCTYPE html>
<html>
<head>
  <title>Aus Gov</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!--<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>-->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
  <link rel="stylesheet" href="/stylesheets/successedSubmit.css">

</head>

    <div class="container">
        <h1>Thank you for your contact!</h1>
        <h1>We will response you as soon as possible!</h1>
        <p>Click the button bellow to go back to the home page</p>
        <div id="submitIcon">
            <a href="/"><i class="fa fa-check-circle fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>
    <script  src="/model/successedSubmit.js"></script>

</body>
</html>
