html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    /*background: url(img/contact-bg.jpg);*/
    /*background:#607d8b;*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

@media (max-width: 768px){
    nav ul li{
        width: 100%;
    }
}

.row{
    margin: 0;
}

#contact-header h1{
    margin: 10px;
    color: #37474f;
    font-size: 46px;
}

#contact-header{
    text-align: center;
    margin: 2rem auto;
}

#conForm{
    background-color: #fff;
    margin: 0 auto 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 200px;
    border-radius: 25px;
    border: 2px solid #9e9e9e;
}

.tab{
    height: 100%;
}

.hide{
    display: none;
}

input{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    /*font-family: Raleway;*/
    border: 1px solid #aaaaaa;
}

 /*Mark input boxes that gets an error on validation: */
textarea{
    margin: 20px auto;
    padding: 10px;
}

textarea.invalid{
    transition: all 0.3s;
    border: 2px solid #F44336;
}

.btn:focus{
    outline:none;
}

/* Make circles that indicate the steps of the form: */
.step{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border:none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active{
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish{
    background-color: #4CAF50;
}

/*for animater*/

.wrapper {
  /*padding: 100px;*/
  height: 5rem;
  width: 100%;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #e0e0e0;
}

.roles {
    font-size: 30px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;
}

.roles div {
    height: 50px;
    -webkit-transition: margin-top 1s ease-in-out;
    transition: margin-top 1s ease-in-out;
}

#submitIcon{
  margin: 10% auto;
  text-align: center;
}

#submitIcon a{
  width: 100px;
  height: 100px;
}

.fa-lg{
  font-size: 8em;
  color: #1b5e20;
}



